body {
    margin: 0;
}

header {
    background-color: black;color: white;height: 60px;
    padding-left: 10%;padding-right: 10%;display: flex;align-items: center;
    justify-content: space-between;
}
/* header h1 {
    position: absolute;left: 20%;
}*/
/* header > nav {
    float: right;
} */
header > nav a {
    text-decoration: none;color: white;;margin-left: 10px;
}
section > article {
    border: 1px solid #ddd;
}
section > article img {
    padding: 8px;
}